# Python
__pycache__/
*.pyc
.coverage
coverage.xml

#Python package
*.egg-info/
.eggs/

# Documentation build and API
doc/build/
doc/sources/api_reference/

# Python test reports
nosetests.xml
pylint-report.txt

# Jupyter
.ipynb_checkpoints/
output/
